<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="typography md">
      <h1>Empty States</h1>
      <p>Empty states should be considered during the implentation of new features. They are vital to helping onboard new users, making the experience feel more approachable and understandable. Empty states should feel inviting and provide just enough information to get people started. There should be a single call to action and a clear explanation of what to use the feature for.</p>
      <p class="todo">Add examples of empty states</p>
    </div>
  </div>
</template>
