<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="component md">
      <h1>Responsive UI</h1>
      <p>GitLab is a responsive experience that works well across all screen sizes, from mobile devices to large monitors. In order to provide a great user experience, the core functionality (browsing files, creating issues, writing comments, etc.) is available at all resolutions. However, due to size limitations, some secondary functionality may be hidden on smaller screens. This functionality is limited to rare actions that aren't expected to be needed on small devices.</p>
      <h2>Breakpoints</h2>
      <p>These breakpoints define specifications for different screens, devices, and orientations.</p>
      <p class="todo">Todo: Define breakpoints</p>
    </div>
  </div>
</template>
