<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="colors md">
      <h1>Color</h1>
      <h2>Chromatic palette</h2>
      <p>We have four primary chromatic colors and their derivatives, totaling 44 colors for use across the application. These colors give flexibility during the design process, while also providing a harmonious palette that looks consistent and in line with our brand styles.</p>
      <h3>Color priorities</h3>
      <p>Color priorities work similarly to font weights; different font weights can be used to create contrasting typography that communicates hierarchy. We apply this same logic to colors by tagging colors according to their priority: from 1 to 4. These priorities can be used to make better choices. When choosing how to apply color to a UI component:</p>
      <ul>
        <li>Priority 1 is equal to the color weight 500.</li>
        <li>Priority 2 is equal to the color weights 300 and 700.</li>
        <li>Priority 3 is equal to the color weights 100 and 900.</li>
      </ul>
      <p>Priorities skip weights because, in most situations, the contrast between two adjoining weights would be subtle. However, those shades are available to use when needed. Color priorities are meant to act as a guideline, not a strict set of rules.</p>
      <h3>Accessibility</h3>
      <p>At GitLab, we are dedicated to continually improving the accessibility of the application. Currently, all chromatic colors pass the <a href="https://www.w3.org/TR/2008/REC-WCAG20-20081211/#visual-audio-contrast-contrast" target="_blank">Web Content Accessibility Guidelines (WCAG)</a> AA level for large text when used as a background color. Learn more in <a href="/usability/a11y">Accessibility</a>.</p>
      <div class="color-palette row m-b-9">
        <div class="green col col-50">
          <h4>Green</h4>
          <div class="distributed palette">
            <div class="color">
              <div class="color-overview c-background-green-50 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$green-50</span>
                <span class="hex f-small">#f1fdf6</span>
              </div>
              <div class="color-details c-border-green-50 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-green-50 c-border-green-50 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-50 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-green-50 c-border-green-50 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-50 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-green-50 c-border-green-50 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-50 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-green-50 c-border-green-50 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-50 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-green-100 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$green-100</span>
                <span class="hex f-small">#dcf5e7</span>
              </div>
              <div class="color-details c-border-green-100 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-green-100 c-border-green-100 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-100 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-green-100 c-border-green-100 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-100 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-green-100 c-border-green-100 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-100 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-green-100 c-border-green-100 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-100 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-green-200 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$green-200</span>
                <span class="hex f-small">#b3e6c8</span>
              </div>
              <div class="color-details c-border-green-200 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-green-200 c-border-green-200 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-200 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-green-200 c-border-green-200 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-200 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-green-200 c-border-green-200 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-200 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-green-200 c-border-green-200 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-200 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-green-300 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$green-300</span>
                <span class="hex f-small">#75d09b</span>
              </div>
              <div class="color-details c-border-green-300 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-green-300 c-border-green-300 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-300 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-green-300 c-border-green-300 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-300 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-green-300 c-border-green-300 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-300 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-green-300 c-border-green-300 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-300 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-green-400 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$green-400</span>
                <span class="hex f-small">#37b96d</span>
              </div>
              <div class="color-details c-border-green-400 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-green-400 c-border-green-400 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-400 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-green-400 c-border-green-400 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-400 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-green-400 c-border-green-400 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-400 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-green-400 c-border-green-400 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-400 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-priority color-overview c-background-green-500 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$green-500</span>
                <span class="hex f-small f-inverted">#1aaa55</span>
              </div>
              <div class="color-details c-border-green-500 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-green-500 c-border-green-500 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-500 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-green-500 c-border-green-500 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-500 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-green-500 c-border-green-500 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-500 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-green-500 c-border-green-500 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-500 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-green-600 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$green-600</span>
                <span class="hex f-small f-inverted">#168f48</span>
              </div>
              <div class="color-details c-border-green-600 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-green-600 c-border-green-600 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-600 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-green-600 c-border-green-600 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-600 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-green-600 c-border-green-600 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-600 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-green-600 c-border-green-600 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-600 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-green-700 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$green-700</span>
                <span class="hex f-small f-inverted">#12753a</span>
              </div>
              <div class="color-details c-border-green-700 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-green-700 c-border-green-700 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-700 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-green-700 c-border-green-700 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-700 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-green-700 c-border-green-700 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-700 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-green-700 c-border-green-700 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-700 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-green-800 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$green-800</span>
                <span class="hex f-small f-inverted">#0e5a2d</span>
              </div>
              <div class="color-details c-border-green-800 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-green-800 c-border-green-800 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-800 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-green-800 c-border-green-800 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-800 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-green-800 c-border-green-800 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-800 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-green-800 c-border-green-800 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-800 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-green-900 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$green-900</span>
                <span class="hex f-small f-inverted">#0a4020</span>
              </div>
              <div class="color-details c-border-green-900 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-green-900 c-border-green-900 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-900 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-green-900 c-border-green-900 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-900 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-green-900 c-border-green-900 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-900 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-green-900 c-border-green-900 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-900 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-green-950 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$green-950</span>
                <span class="hex f-small f-inverted">#072b15</span>
              </div>
              <div class="color-details c-border-green-950 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-green-950 c-border-green-950 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-950 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-green-950 c-border-green-950 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-950 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-green-950 c-border-green-950 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-green-950 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-green-950 c-border-green-950 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-green-950 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blue col col-50">
          <h4>Blue</h4>
          <div class="distributed palette">
            <div class="color">
              <div class="color-overview c-background-blue-50 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$blue-50</span>
                <span class="hex f-small">#f6fafe</span>
              </div>
              <div class="color-details c-border-blue-50 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-blue-50 c-border-blue-50 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-50 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-blue-50 c-border-blue-50 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-50 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-blue-50 c-border-blue-50 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-50 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-blue-50 c-border-blue-50 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-50 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-blue-100 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$blue-100</span>
                <span class="hex f-small">#e4f0fb</span>
              </div>
              <div class="color-details c-border-blue-100 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-blue-100 c-border-blue-100 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-100 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-blue-100 c-border-blue-100 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-100 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-blue-100 c-border-blue-100 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-100 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-blue-100 c-border-blue-100 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-100 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-blue-200 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$blue-200</span>
                <span class="hex f-small">#b8d6f4</span>
              </div>
              <div class="color-details c-border-blue-200 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-blue-200 c-border-blue-200 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-200 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-blue-200 c-border-blue-200 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-200 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-blue-200 c-border-blue-200 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-200 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-blue-200 c-border-blue-200 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-200 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-blue-300 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$blue-300</span>
                <span class="hex f-small">#73afea</span>
              </div>
              <div class="color-details c-border-blue-300 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-blue-300 c-border-blue-300 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-300 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-blue-300 c-border-blue-300 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-300 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-blue-300 c-border-blue-300 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-300 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-blue-300 c-border-blue-300 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-300 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-blue-400 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$blue-400</span>
                <span class="hex f-small">#2e87e0</span>
              </div>
              <div class="color-details c-border-blue-400 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-blue-400 c-border-blue-400 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-400 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-blue-400 c-border-blue-400 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-400 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-blue-400 c-border-blue-400 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-400 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-blue-400 c-border-blue-400 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-400 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-priority color-overview c-background-blue-500 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$blue-500</span>
                <span class="hex f-small f-inverted">#1f78d1</span>
              </div>
              <div class="color-details c-border-blue-500 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-blue-500 c-border-blue-500 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-500 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-blue-500 c-border-blue-500 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-500 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-blue-500 c-border-blue-500 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-500 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-blue-500 c-border-blue-500 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-500 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-blue-600 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$blue-600</span>
                <span class="hex f-small f-inverted">#1b69b6</span>
              </div>
              <div class="color-details c-border-blue-600 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-blue-600 c-border-blue-600 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-600 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-blue-600 c-border-blue-600 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-600 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-blue-600 c-border-blue-600 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-600 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-blue-600 c-border-blue-600 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-600 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-blue-700 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$blue-700</span>
                <span class="hex f-small f-inverted">#17599c</span>
              </div>
              <div class="color-details c-border-blue-700 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-blue-700 c-border-blue-700 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-700 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-blue-700 c-border-blue-700 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-700 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-blue-700 c-border-blue-700 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-700 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-blue-700 c-border-blue-700 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-700 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-blue-800 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$blue-800</span>
                <span class="hex f-small f-inverted">#134a81</span>
              </div>
              <div class="color-details c-border-blue-800 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-blue-800 c-border-blue-800 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-800 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-blue-800 c-border-blue-800 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-800 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-blue-800 c-border-blue-800 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-800 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-blue-800 c-border-blue-800 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-800 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-blue-900 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$blue-900</span>
                <span class="hex f-small f-inverted">#0f3b66</span>
              </div>
              <div class="color-details c-border-blue-900 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-blue-900 c-border-blue-900 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-900 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-blue-900 c-border-blue-900 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-900 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-blue-900 c-border-blue-900 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-900 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-blue-900 c-border-blue-900 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-900 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-blue-950 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$blue-950</span>
                <span class="hex f-small f-inverted">#0a2744</span>
              </div>
              <div class="color-details c-border-blue-950 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-blue-950 c-border-blue-950 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-950 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-blue-950 c-border-blue-950 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-950 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-blue-950 c-border-blue-950 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-950 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-blue-950 c-border-blue-950 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-blue-950 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="orange col col-50 m-t-7">
          <h4>Orange</h4>
          <div class="distributed palette">
            <div class="color">
              <div class="color-overview c-background-orange-50 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$orange-50</span>
                <span class="hex f-small">#fffaf4</span>
              </div>
              <div class="color-details c-border-orange-50 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-orange-50 c-border-orange-50 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-50 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-50 c-border-orange-50 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-50 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-orange-50 c-border-orange-50 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-50 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-50 c-border-orange-50 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-50 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-orange-100 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$orange-100</span>
                <span class="hex f-small">#fff1de</span>
              </div>
              <div class="color-details c-border-orange-100 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-orange-100 c-border-orange-100 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-100 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-100 c-border-orange-100 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-100 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-orange-100 c-border-orange-100 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-100 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-100 c-border-orange-100 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-100 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-orange-200 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$orange-200</span>
                <span class="hex f-small">#fed69f</span>
              </div>
              <div class="color-details c-border-orange-200 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-orange-200 c-border-orange-200 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-200 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-200 c-border-orange-200 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-200 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-orange-200 c-border-orange-200 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-200 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-200 c-border-orange-200 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-200 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-orange-300 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$orange-300</span>
                <span class="hex f-small">#fdbc60</span>
              </div>
              <div class="color-details c-border-orange-300 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-orange-300 c-border-orange-300 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-300 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-300 c-border-orange-300 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-300 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-orange-300 c-border-orange-300 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-300 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-300 c-border-orange-300 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-300 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-orange-400 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$orange-400</span>
                <span class="hex f-small">#fca121</span>
              </div>
              <div class="color-details c-border-orange-400 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-orange-400 c-border-orange-400 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-400 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-400 c-border-orange-400 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-400 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-orange-400 c-border-orange-400 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-400 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-400 c-border-orange-400 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-400 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-priority color-overview c-background-orange-500 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$orange-500</span>
                <span class="hex f-small">#fc9403</span>
              </div>
              <div class="color-details c-border-orange-500 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-orange-500 c-border-orange-500 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-500 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-500 c-border-orange-500 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-500 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-orange-500 c-border-orange-500 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-500 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-500 c-border-orange-500 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-500 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-orange-600 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$orange-600</span>
                <span class="hex f-small">#de7e00</span>
              </div>
              <div class="color-details c-border-orange-600 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-orange-600 c-border-orange-600 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-600 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-600 c-border-orange-600 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-600 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-orange-600 c-border-orange-600 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-600 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-600 c-border-orange-600 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-600 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-orange-700 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$orange-700</span>
                <span class="hex f-small f-inverted">#c26700</span>
              </div>
              <div class="color-details c-border-orange-700 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-orange-700 c-border-orange-700 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-700 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-orange-700 c-border-orange-700 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-700 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-orange-700 c-border-orange-700 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-700 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-orange-700 c-border-orange-700 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-700 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-orange-800 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$orange-800</span>
                <span class="hex f-small f-inverted">#a35200</span>
              </div>
              <div class="color-details c-border-orange-800 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-orange-800 c-border-orange-800 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-800 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-orange-800 c-border-orange-800 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-800 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-orange-800 c-border-orange-800 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-800 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-orange-800 c-border-orange-800 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-800 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-orange-900 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$orange-900</span>
                <span class="hex f-small f-inverted">#853c00</span>
              </div>
              <div class="color-details c-border-orange-900 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-orange-900 c-border-orange-900 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-900 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-orange-900 c-border-orange-900 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-900 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-orange-900 c-border-orange-900 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-900 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-orange-900 c-border-orange-900 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-900 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-orange-950 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$orange-950</span>
                <span class="hex f-small f-inverted">#592800</span>
              </div>
              <div class="color-details c-border-orange-950 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-orange-950 c-border-orange-950 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-950 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-orange-950 c-border-orange-950 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-950 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-orange-950 c-border-orange-950 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-950 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-orange-950 c-border-orange-950 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-orange-950 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="red col col-50 m-t-7">
          <h4>Red</h4>
          <div class="distributed palette">
            <div class="color">
              <div class="color-overview c-background-red-50 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$red-50</span>
                <span class="hex f-small">#fef6f5</span>
              </div>
              <div class="color-details c-border-red-50 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-red-50 c-border-red-50 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-50 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-red-50 c-border-red-50 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-50 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-red-50 c-border-red-50 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-50 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-red-50 c-border-red-50 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-50 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-red-100 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$red-100</span>
                <span class="hex f-small">#fbe5e1</span>
              </div>
              <div class="color-details c-border-red-100 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-red-100 c-border-red-100 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-100 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-red-100 c-border-red-100 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-100 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-red-100 c-border-red-100 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-100 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-red-100 c-border-red-100 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-100 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-red-200 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$red-200</span>
                <span class="hex f-small">#f2b4a9</span>
              </div>
              <div class="color-details c-border-red-200 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-red-200 c-border-red-200 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-200 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-red-200 c-border-red-200 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-200 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-red-200 c-border-red-200 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-200 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-red-200 c-border-red-200 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-200 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-red-300 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$red-300</span>
                <span class="hex f-small">#e67664</span>
              </div>
              <div class="color-details c-border-red-300 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-red-300 c-border-red-300 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-300 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-red-300 c-border-red-300 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-300 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-red-300 c-border-red-300 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-300 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-red-300 c-border-red-300 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-300 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-red-400 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$red-400</span>
                <span class="hex f-small">#e05842</span>
              </div>
              <div class="color-details c-border-red-400 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-red-400 c-border-red-400 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-400 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-red-400 c-border-red-400 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-400 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-red-400 c-border-red-400 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-400 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-red-400 c-border-red-400 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-400 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-priority color-overview c-background-red-500 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$red-500</span>
                <span class="hex f-small f-inverted">#db3b21</span>
              </div>
              <div class="color-details c-border-red-500 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-red-500 c-border-red-500 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-500 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-red-500 c-border-red-500 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-500 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-red-500 c-border-red-500 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-500 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                  <div class="f-inverted d-inline-block c-background-red-500 c-border-red-500 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-500 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-red-600 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$red-600</span>
                <span class="hex f-small f-inverted">#c0341d</span>
              </div>
              <div class="color-details c-border-red-600 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-red-600 c-border-red-600 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-600 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-red-600 c-border-red-600 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-600 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-red-600 c-border-red-600 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-600 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-red-600 c-border-red-600 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-600 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-red-700 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$red-700</span>
                <span class="hex f-small f-inverted">#a62d19</span>
              </div>
              <div class="color-details c-border-red-700 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-red-700 c-border-red-700 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-700 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-red-700 c-border-red-700 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-700 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-red-700 c-border-red-700 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-700 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-red-700 c-border-red-700 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-700 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-red-800 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$red-800</span>
                <span class="hex f-small f-inverted">#8b2615</span>
              </div>
              <div class="color-details c-border-red-800 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-red-800 c-border-red-800 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-800 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-red-800 c-border-red-800 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-800 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-red-800 c-border-red-800 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-800 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-red-800 c-border-red-800 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-800 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-red-900 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$red-900</span>
                <span class="hex f-small f-inverted">#711e11</span>
              </div>
              <div class="color-details c-border-red-900 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block c-background-red-900 c-border-red-900 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-900 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-red-900 c-border-red-900 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-900 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block c-background-red-900 c-border-red-900 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-900 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-red-900 c-border-red-900 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-900 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-red-950 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$red-950</span>
                <span class="hex f-small f-inverted">#4b140b</span>
              </div>
              <div class="color-details c-border-red-950 p-t-6 p-r-5 p-b-6 p-l-5">
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal Normal</div>
                  <div class="d-inline-block c-background-red-950 c-border-red-950 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-950 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-red-950 c-border-red-950 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-950 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
                <div class="color-details--section">
                  <div class="f-bold m-b-2">WCAG Normal Normal</div>
                  <div class="d-inline-block c-background-red-950 c-border-red-950 p-t-2 p-r-3 p-b-2 p-l-3">AA</div>
                  <div class="d-inline-block c-border-red-950 p-t-2 p-r-3 p-b-2 p-l-3 fail">Fail</div>
                  <div class="f-inverted d-inline-block c-background-red-950 c-border-red-950 p-t-2 p-r-3 p-b-2 p-l-3 m-l-3">AA</div>
                  <div class="d-inline-block c-border-red-950 p-t-2 p-r-3 p-b-2 p-l-3 pass">Pass</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-b-9">
        <div class="col col-50">
          <h2>Neutral palette</h2>
          <p>Our neutral palette is primarily used within components to help differentiate hierarchy. Shades of gray can be used as backgrounds, borders, and shadows to emphasise certain areas or set them apart.</p>
          <div class="distributed palette neutral">
            <div class="color">
              <div class="color-overview c-white-background p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$white</span>
                <span class="hex f-small">#ffffff</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-gray-50 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$gray-50</span>
                <span class="hex f-small">#fafafa</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-gray-100 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$gray-100</span>
                <span class="hex f-small">#f2f2f2</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-gray-200 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$gray-200</span>
                <span class="hex f-small">#dfdfdf</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-gray-300 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$gray-300</span>
                <span class="hex f-small">#cccccc</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-gray-400 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$gray-400</span>
                <span class="hex f-small">#bababa</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-gray-500 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$gray-500</span>
                <span class="hex f-small f-inverted">#a7a7a7</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-gray-600 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$gray-600</span>
                <span class="hex f-small f-inverted">#949494</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-gray-700 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$gray-700</span>
                <span class="hex f-small f-inverted">#707070</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-gray-800 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$gray-800</span>
                <span class="hex f-small f-inverted">#4f4f4f</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-gray-900 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$gray-900</span>
                <span class="hex f-small f-inverted">#2e2e2e</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-background-gray-950 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$gray-950</span>
                <span class="hex f-small f-inverted">#1f1f1f</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview c-black-background p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$black</span>
                <span class="hex f-small f-inverted">#000000</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <h2>Transparencies</h2>
          <p>Transparencies are used only to indicate hover and active states within themes. Each theme has its own series of four transparencies to utilize with alpha levels ranging from 0.02 to 0.08.</p>
          <div class="distributed palette neutral m-b-6">
            <div class="color">
              <div class="color-overview t-gray-a-02 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-gray-a-02</span>
                <span class="hex f-small">rgba($black, 0.02)</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-gray-a-04 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-gray-a-04</span>
                <span class="hex f-small">rgba($black, 0.04)</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-gray-a-06 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-gray-a-06</span>
                <span class="hex f-small">rgba($black, 0.06)</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-gray-a-08 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-gray-a-08</span>
                <span class="hex f-small">rgba($black, 0.08)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2>Themes</h2>
      <p>There are five different theme options for users to choose from that customize the appearance of the application header and navigation sidebar. These theme options make up four different color palettes:</p>
      <div class="color-palette row m-b-6">
        <div class="indigo col col-25">
          <h4>Indigo</h4>
          <div class="distributed palette">
            <div class="color">
              <div class="color-overview t-indigo-50 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-indigo-50</span>
                <span class="hex f-small">#f7f7ff</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-indigo-100 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-indigo-100</span>
                <span class="hex f-small">#ebebfa</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-indigo-200 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-indigo-200</span>
                <span class="hex f-small">#d1d1f0</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-indigo-300 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-indigo-300</span>
                <span class="hex f-small">#a6a6de</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-indigo-400 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-indigo-400</span>
                <span class="hex f-small">#7c7ccc</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-indigo-500 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-indigo-500</span>
                <span class="hex f-small f-inverted">#6666c4</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-indigo-600 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-indigo-600</span>
                <span class="hex f-small f-inverted">#5b5bbd</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-indigo-700 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-indigo-700</span>
                <span class="hex f-small f-inverted">#4b4ba3</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-indigo-800 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-indigo-800</span>
                <span class="hex f-small f-inverted">#393982</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-indigo-900 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-indigo-900</span>
                <span class="hex f-small f-inverted">#292961</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-indigo-950 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-indigo-950</span>
                <span class="hex f-small f-inverted">#1a1a40</span>
              </div>
            </div>
          </div>
        </div>
        <div class="gray col col-25">
          <h4>Dark &amp; Light</h4>
          <div class="distributed palette">
            <div class="color">
              <div class="color-overview t-gray-50 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-gray-50</span>
                <span class="hex f-small">#fafafa</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-gray-100 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-gray-100</span>
                <span class="hex f-small">#f2f2f2</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-gray-200 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-gray-200</span>
                <span class="hex f-small">$dfdfdf</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-gray-300 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-gray-300</span>
                <span class="hex f-small">#cccccc</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-gray-400 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-gray-400</span>
                <span class="hex f-small">#bababa</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-gray-500 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-gray-500</span>
                <span class="hex f-small f-inverted">#a7a7a7</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-gray-600 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-gray-600</span>
                <span class="hex f-small f-inverted">#949494</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-gray-700 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-gray-700</span>
                <span class="hex f-small f-inverted">#707070</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-gray-800 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-gray-800</span>
                <span class="hex f-small f-inverted">#4f4f4f</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-gray-900 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-gray-900</span>
                <span class="hex f-small f-inverted">#2e2e2e</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-gray-950 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-gray-950</span>
                <span class="hex f-small f-inverted">#1f1f1f</span>
              </div>
            </div>
          </div>
        </div>
        <div class="blue col col-25">
          <h4>Blue</h4>
          <div class="distributed palette">
            <div class="color">
              <div class="color-overview t-blue-50 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-blue-50</span>
                <span class="hex f-small">#f4f8fc</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-blue-100 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-blue-100</span>
                <span class="hex f-small">#e6edf5</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-blue-200 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-blue-200</span>
                <span class="hex f-small">#c8d7e6</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-blue-300 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-blue-300</span>
                <span class="hex f-small">#97b3cf</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-blue-400 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-blue-400</span>
                <span class="hex f-small">#648cb4</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-blue-500 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-blue-500</span>
                <span class="hex f-small f-inverted">#4a79a8</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-blue-600 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-blue-600</span>
                <span class="hex f-small f-inverted">#3e6fa0</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-blue-700 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-blue-700</span>
                <span class="hex f-small f-inverted">#305c88</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-blue-800 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-blue-800</span>
                <span class="hex f-small f-inverted">#25496e</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-blue-900 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-blue-900</span>
                <span class="hex f-small f-inverted">#1a3652</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-blue-950 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-blue-950</span>
                <span class="hex f-small f-inverted">#0f2235</span>
              </div>
            </div>
          </div>
        </div>
        <div class="green col col-25">
          <h4>Green</h4>
          <div class="distributed palette">
            <div class="color">
              <div class="color-overview t-green-50 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-green-50</span>
                <span class="hex f-small">#f2faf6</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-green-100 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-green-100</span>
                <span class="hex f-small">#e4f3ea</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-green-200 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-green-200</span>
                <span class="hex f-small">#c0dfcd</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-green-300 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-green-300</span>
                <span class="hex f-small">#8ac2a1</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-green-400 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable">$t-green-400</span>
                <span class="hex f-small">#52a274</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-green-500 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-green-500</span>
                <span class="hex f-small f-inverted">#35935c</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-green-600 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-green-600</span>
                <span class="hex f-small f-inverted">#288a50</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-green-700 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-green-700</span>
                <span class="hex f-small f-inverted">#1c7441</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-green-800 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-green-800</span>
                <span class="hex f-small f-inverted">#145d33</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-green-900 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-green-900</span>
                <span class="hex f-small f-inverted">#0d4524</span>
              </div>
            </div>
            <div class="color">
              <div class="color-overview t-green-950 p-t-3 p-r-5 p-b-3 p-l-5">
                <span class="variable f-inverted">$t-green-950</span>
                <span class="hex f-small f-inverted">#072d16</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
