<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="component md">
      <h1>Cursors</h1>
      <p>The mouse cursor is key in helping users understand how to interact with elements on the screen.</p>
      <table class="do-dont m-b-6">
        <thead>
          <tr>
            <th>Cursor</th>
            <th>Purpose</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="center"><img src="~/assets/images/styles/cursors/cursors-default.png"></td>
            <td><strong>Default cursor:</strong> cursor shown by default.</td>
          </tr>
          <tr>
            <td align="center"><img src="~/assets/images/styles/cursors/cursors-pointer.png"></td>
            <td><strong>Pointer cursor:</strong> used to indicate that you can click on an element to invoke a command or navigate, such as links and buttons.</td>
          </tr>
          <tr>
            <td align="center"><img src="~/assets/images/styles/cursors/cursors-panopened.png"></td>
            <td><strong>Grab:</strong> indicates that you can grab and move an element around the screen.</td>
          </tr>
          <tr>
            <td align="center"><img src="~/assets/images/styles/cursors/cursors-panclosed.png"></td>
            <td><strong>Grabbing:</strong> indicates that you are actively moving an element around the screen.</td>
          </tr>
          <tr>
            <td align="center"><img src="~/assets/images/styles/cursors/cursors-ibeam.png"></td>
            <td><strong>I-beam cursor:</strong> indicates that this is either text that you can select and copy, or a text field that you can click into to enter text.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
