/*
 * Measures
 */

$gl-spacing-1: 2px;
$gl-spacing-2: 4px;
$gl-spacing-3: 8px;
$gl-spacing-4: 12px;
$gl-spacing-5: 16px;
$gl-spacing-6: 24px;
$gl-spacing-7: 32px;
$gl-spacing-8: 48px;
$gl-spacing-9: 64px;
$gl-spacing-10: 96px;
$gl-spacing-11: 128px;
$gl-spacing-12: 176px;
$gl-spacing-13: 256px;

$sizes: (
  1: 2px,
  2: 4px,
  3: 8px,
  4: 12px,
  5: 16px,
  6: 24px,
  7: 32px,
  8: 48px,
  9: 64px,
  10: 96px,
  11: 128px,
  12: 176px,
  13: 256px
);

/*
 * Framework
 */

$page-width: 990px;
$nav-sidebar-width: 256px;


/*
 * Colors
 */

$white: #fff;
$gray-50: #fafafa;
$gray-100: #f2f2f2;
$gray-200: #dfdfdf;
$gray-300: #cccccc;
$gray-400: #bababa;
$gray-500: #a7a7a7;
$gray-600: #919191;
$gray-700: #707070;
$gray-800: #4f4f4f;
$gray-900: #2e2e2e;
$gray-950: #1f1f1f;
$black: #000;

$black-o-02: rgba($black, 0.02);
$black-o-04: rgba($black, 0.04);
$black-o-06: rgba($black, 0.06);
$black-o-08: rgba($black, 0.08);
$black-o-10: rgba($black, 0.1);

$green-50: #f1fdf6;
$green-100: #dcf5e7;
$green-200: #b3e6c8;
$green-300: #75d09b;
$green-400: #37b96d;
$green-500: #1aaa55;
$green-600: #168f48;
$green-700: #12753a;
$green-800: #0e5a2d;
$green-900: #0a4020;
$green-950: #072b15;

$blue-50: #f6fafe;
$blue-100: #e4f0fb;
$blue-200: #b8d6f4;
$blue-300: #73afea;
$blue-400: #2e87e0;
$blue-500: #1f78d1;
$blue-600: #1b69b6;
$blue-700: #17599c;
$blue-800: #134a81;
$blue-900: #0f3b66;
$blue-950: #0a2744;

$orange-50: #fffaf4;
$orange-100: #fff1de;
$orange-200: #fed69f;
$orange-300: #fdbc60;
$orange-400: #fca121;
$orange-500: #fc9403;
$orange-600: #de7e00;
$orange-700: #c26700;
$orange-800: #a35200;
$orange-900: #853c00;
$orange-950: #592800;

$red-50: #fef6f5;
$red-100: #fbe5e1;
$red-200: #f2b4a9;
$red-300: #e67664;
$red-400: #e05842;
$red-500: #db3b21;
$red-600: #c0341d;
$red-700: #a62d19;
$red-800: #8b2615;
$red-900: #711e11;
$red-950: #4b140b;

/*
 * Theme colors
 */

$t-indigo-50: #f7f7ff;
$t-indigo-100: #ebebfa;
$t-indigo-200: #d1d1f0;
$t-indigo-300: #a6a6de;
$t-indigo-400: #7c7ccc;
$t-indigo-500: #6666c4;
$t-indigo-600: #5b5bbd;
$t-indigo-700: #4b4ba3;
$t-indigo-800: #393982;
$t-indigo-900: #292961;
$t-indigo-950: #1a1a40;
$t-indigo-a-02: rgba($t-indigo-200, 0.02);
$t-indigo-a-04: rgba($t-indigo-200, 0.04);
$t-indigo-a-06: rgba($t-indigo-200, 0.06);
$t-indigo-a-08: rgba($t-indigo-200, 0.08);

$t-gray-50: #fafafa;
$t-gray-100: #f2f2f2;
$t-gray-200: #dfdfdf;
$t-gray-300: #cccccc;
$t-gray-400: #bababa;
$t-gray-500: #a7a7a7;
$t-gray-600: #949494;
$t-gray-700: #707070;
$t-gray-800: #4f4f4f;
$t-gray-900: #2e2e2e;
$t-gray-950: #1f1f1f;
$t-gray-a-02: rgba($black, 0.02);
$t-gray-a-04: rgba($black, 0.04);
$t-gray-a-06: rgba($black, 0.06);
$t-gray-a-08: rgba($black, 0.08);

$t-blue-50: #f4f8fc;
$t-blue-100: #e6edf5;
$t-blue-200: #c8d7e6;
$t-blue-300: #97b3cf;
$t-blue-400: #648cb4;
$t-blue-500: #4a79a8;
$t-blue-600: #3e6fa0;
$t-blue-700: #305c88;
$t-blue-800: #25496e;
$t-blue-900: #1a3652;
$t-blue-950: #0f2235;
$t-blue-a-02: rgba($t-blue-200, 0.02);
$t-blue-a-04: rgba($t-blue-200, 0.04);
$t-blue-a-06: rgba($t-blue-200, 0.06);
$t-blue-a-08: rgba($t-blue-200, 0.08);

$t-green-50: #f2faf6;
$t-green-100: #e4f3ea;
$t-green-200: #c0dfcd;
$t-green-300: #8ac2a1;
$t-green-400: #52a274;
$t-green-500: #35935c;
$t-green-600: #288a50;
$t-green-700: #1c7441;
$t-green-800: #145d33;
$t-green-900: #0d4524;
$t-green-950: #072d16;
$t-green-a-02: rgba($t-green-200, 0.02);
$t-green-a-04: rgba($t-green-200, 0.04);
$t-green-a-06: rgba($t-green-200, 0.06);
$t-green-a-08: rgba($t-green-200, 0.08);

/*
 * Fonts
 */

$font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: 'Menlo', 'DejaVu Sans Mono', 'Liberation Mono', 'Consolas', 'Ubuntu Mono', 'Courier New', 'andale mono', 'lucida console', monospace;

/*
 * Typography
 */

$base-font-size: 14px;
$base-grid: 8px;
$base-grid--typography: 4px;

$font-weight--normal: 400;
$font-weight--bold: 600;
$text-color: $gray-900;
$text-color--secondary: $gray-700;
$text-color--placeholder: $gray-600;
$text-color--disabled: $gray-200;
$text-color--inverted: $white;
$anchor-color: $blue-600;

/*
 * UI elements
 */

$border-color: $gray-300;
$border-color--light: $gray-200;
$border-width: 1px;
$border-radius: $gl-spacing-2;

/*
 * Z Indexs
 */

$z-nav-sidebar: 400;
$z-index-header: 200;
