<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="component md">
      <h1>Design Resources</h1>
      <h2>Design Repository</h2>
      <p>All design files are stored in the <a href="https://gitlab.com/gitlab-org/gitlab-design">gitlab-design</a> repository and maintained by GitLab UX designers. The repository contains GitLab’s open source pattern library, prototypes, and work-in-progress files.</p>
      <h3>Goals</h3>
      <ul>
        <li>Jumpstart design work by using the pattern library and previous work</li>
        <li>Enable frequent, stable, and consistent contributions</li>
        <li>Make GitLab’s design open, transparent, and open source</li>
        <li>Facilitate design handoffs and design–development communication design handoffs.</li>
      </ul>
      <p>The project is primarily used by GitLab’s UX Design department to host design files and hand them off for implementation. To learn about the best practices to manage the project, including the repository’s organization, check out the <a href="https://gitlab.com/gitlab-org/gitlab-design/blob/master/CONTRIBUTING.md">contribution guidelines</a>.</p>
      <h3>Links</h3>
      <p>For more information about the UX Design department, check out the following Links.</p>
      <ul>
        <li><a href="https://about.gitlab.com/handbook/ux/">UX Handbook</a></li>
        <li><a href="https://dribbble.com/gitlab">GitLab Dribbble</a></li>
      </ul>
      <h2>Brand AI</h2>
      <p>Brand.ai is a hosted team library used to sync symbols and styles across sketch files. Our UI paradigms are included within brand.ai for easy access when working on designs. Visit our public-facing <a href="https://brand.ai/git-lab/primary-brand">GitLab Brand.ai</a> styleguide.</p>
      <h2>GitLab SVGs</h2>
      <p>Our <a href="https://gitlab.com/gitlab-org/gitlab-svgs">GitLab SVG</a> repository manages all SVG assets by creating an SVG sprite out of icons and optimizing SVG based illustrations.</p>
      <h2>UX Research Panel</h2>
      <p>Here at GitLab, we regularly conduct user research to improve our product. You can help shape the future of GitLab. We want your feedback on how we can continue to improve GitLab. By joining our research panel, you’ll be the first to see new features and your thoughts will drive product improvements for a better user experience.</p>
      <p>To join or learn more about the UX Research Panel, see <a href="https://about.gitlab.com/researchpanel/">GitLab UX Research</a>.</p>
    </div>
  </div>
</template>
